@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

/*these are basically reusable variables, SCSS*/
$cyan:#3DC0B0;;
$darkbg:#333;

* {
  box-sizing: border-box;
}


html {
  overflow-x: hidden;
  font-size: 16px; // I would recommend always using 16px as base font-size
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 640px) {background-repeat: repeat-x;
    font-size: 12px;
  }
}

html, body, .App { margin: 0; padding: 0; } 



body {
  font-family: 'Poor Story', cursive;
  background: #333;
}

/*this is the black background whilst loading*/
// #spinner {
//   height:100vh;
//   width:100vw;
//   margin:0;
//   padding:0;
//   position:absolute;
//   display:block;
//   z-index:999;
//   background-color: #333;
//   animation: spinAnimation 2s ;
//     animation-fill-mode: forwards;
//     color: pink;
//     font-size:20px;
//     text-align:center;

// }

// @keyframes spinAnimation {
//     to {
        
//         overflow:hidden;
//         opacity:0;
//           z-index:-999;
        
//     }
// }


// #loader {
//   border: 16px solid #f3f3f3;
//   border-radius: 50%;
//   border-top: 16px solid #3498db;
//   width: 120px;
//   height: 120px;
//   position:absolute;
//   -webkit-animation: spin 2s linear infinite; 
//   animation: spin 2s linear infinite;
//   text-align: center;
//   position: absolute;
//   top: 45%;
//   left: 45%;
//   transform: translate(-40%, -40%);
// }

// /* Safari */
// @-webkit-keyframes spin {
//   0% { -webkit-transform: rotate(0deg); }
//   100% { -webkit-transform: rotate(360deg); }
// }

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }




.window {
  display:block;
  position:relative;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  opacity:0.6;
}


.window::before, .window::after {
  content:'';

  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
    transition:opacity 2s;
    background-size:cover;
}

/*bright  */
.window::before {
 
  background-image:url('./daysmall.jpg');
  background-position: 05px 0px;

}

/*dark  */
.window::after {
    /*need to change all these on mobile. smaller bg image, and animation only happens on big screens */
  background-image:url('./nightsmall.jpg');
}




@keyframes bgmove{
  0% {
    background-position: 0px 0px
  }
  100% {
    background-position: -75px 0px
  }
}



input:checked ~ .window::before{ opacity: 1 }

input:checked ~ .window::after{ opacity: 0 }



a {color:white;}



#bio {
  position:relative;
  max-width:100vw;
  padding:20rem 2rem;
align-items:center;
justify-content: center;
}

#blurb {display:inline-table;
  align-items: center;
  text-align:center;
  justify-content: center;
  font-size:1.2rem;
  float:right;
  position:relative;
  bottom:30rem;
}

table {
  display:inline-table;
border-spacing: 150px 0;}

th {color:$cyan;
text-decoration:underline;
padding-bottom: 2rem;
font-weight:bold;}

td {white-space: nowrap;
}

#quals {}

#profiler {

  height: 100%;
  width:auto;
}


#wrapper {
  padding:0;
  margin:0;
  margin-top: -2.5rem;
  position:relative;
  display: block;
background-color:#333;
 color:white;
 transition: background-color 2s; }



input {
  position: relative;
  display: none;
}

label {
  display: none;
  visibility: hidden;
  height:5rem;
  width:5rem;
  left:20px;
  top:1rem;
  position: fixed;
  cursor: pointer;
  background: url('./moon-min.png');
  background-size:cover;
  z-index:99;
  transition: background 3s, transform 1s top 5s;
}

.peekaboo,.hi{transition: opacity 2.2s ease;}

.peekaboo{opacity: 0;
color:#333;}

h1{
text-align:center;
position:absolute;
 font-family: quando, Comic Sans MS;
 margin:0 5rem;
 font-size:4.5rem;
 top:2rem;
 left: 25%;
 z-index:98;
 border:1px splid red;

}

.hi{ opacity: 1;
color: $cyan;
overflow: hidden;
width:7em;
/*this doesn't make any diff to typewriter thing*/
white-space: nowrap;
border-right:2px solid $cyan;
animation: typewriter 2s steps(44) 1s 1 normal both,
  blinkTextCursor 400ms steps(44) infinite normal,
  cssAnimation 0s ease-in 3.2s forwards;}

/* typewriter starts */
  @keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 7em;
  }
}
/*width of this needs to be same as width of text*/

@keyframes blinkTextCursor {

  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }

}


@keyframes cssAnimation {
  to {
    border-right-color: transparent;
  }
}

/* typewriter ends */

#toggle1:checked ~ .peekaboo{opacity: 1;}
#toggle1:checked ~ .hi{opacity: 0;}


// this is for turning moon to sun
// input:checked + label {
//   background: url('./smileysun-min.png');
//  background-size:cover; 
//  transition: background 3s, transform 1.5s ;
//  animation: offback 1.5s ease;
// }

// @keyframes offback {
//   0% {left:20px;top:01rem;}
//   50% {left:-70px; top:150px;}
//   100% {left:20px; top:01rem;}
// }

// // this is what happens when unchecking,(sun to moon)
// input[type=checkbox]:not(:checked) + label {
//   animation: offback2 1.5s ease;
//   transition: background 2s;
// }

// @keyframes offback2 {
//   0% {left:20px;top:01rem;}
//   50% {left:-70px; top:150px;}
//   100% {left:20px; top:01rem;}
// }



/*so this is what happens when I click the moon*/
input:checked + label {
  background: url('./smileysun-min.png');
 background-size:cover; 
 transition: background 1.5s, transform 1.5s ;
 animation: newoffback 1.5s ease;
}

// this is what happens when unchecking,(sun to moon)
input[type=checkbox]:not(:checked) + label {
  animation: newoffback2 1.5s ease;
  transition: background 1s;
}


@keyframes firstrise {
  0% {left:-70px; top:150px;}
   100% {left:20px; top:01rem;}
}

@keyframes newoffback {
 0% {
    transform: translate(0, 0);    
  }
  50% {
    transform: translate(-130px, 150px);
  }

 100% {transform: translate(0, 0);} 

}

@keyframes newoffback2 {
 0% {
    transform: translate(0, 0);    
  }
  50% {
    transform: translate(-130px, 150px);
  }

 100% {transform: translate(0, 0);} 

}




// input:checked ~  #hi1  {
  
//   opacity: 0;
//   transition: opacity 4s
// }

// input:checked ~ #hi2  {
  
//   color: #333;
//   opacity: 1;
//   font-family: "Gochi Hand", "Comic Sans", cursive;
//   transition: opacity 4s;
//   z-index:50;
// }

// input[type=checkbox]:not(:checked) ~ #hi2 {
//   opacity:0;
//   transition: opacity 4s;
//   transition: color 4s;
// }

// input[type=checkbox]:not(:checked) ~ #hi1 {
//   transition: opacity 4s;
//   transition: color 4s;
//   opacity:1;
// }


input:checked ~ #wrapper {
  color: #333;
  background-color:#F7F9FE;
}

input:checked ~ #wrapper a {
  color: #333;
}

input:checked ~ #wrapper th {
  color: $cyan
}

input:checked ~ a > #scroller1::before {display:none;}

input:checked ~ a > #scroller1 > a > .arrow > span {
  border-bottom: 4px solid $darkbg;
  border-right: 4px solid $darkbg;
}





/*this is the fade in on page load*/
.fade {
-webkit-animation: fade 3s;
animation: fade 5s;
-moz-animation: fade 3s;
-o-animation: fade 3s;
}

@keyframes fade {
  0% {opacity: 0.0} 
  25% {opacity: 0.3}
  50% {opacity: 0.6}
  75% {opacity: 0.8;}
  100%{opacity: 1}
    }




h2,h3 {text-align: center;
  font-family: Quando;
}

h2 {font-size:5rem;
color:$cyan;}

#about {
position:relative;
  font-size:2.5rem;
top:20rem;
color:$cyan;}

#myprojects {color:$cyan;
font-size: 2.5rem;}

.projectname {margin-top: 15rem;
font-size:2rem;}

#second {margin-top:3rem;}

#third {margin-top:03rem;
  padding-bottom:010rem;
}

.cabins {margin-top:8rem;
  margin-bottom:0rem;}

div, p {
  font-family: judson;
}

.project {
  position:relative;
  padding:20rem 2rem;
  text-align: center;
  font-size:1.2rem;
}

.column {
  display:inline-block;
  max-width: 50%;
  min-width:40%;
  padding: 10px;
  text-align: center;
}

.description {padding-bottom:15rem;
position:relative;
bottom:10rem;}


/*image transitions for my website previews starts*/

.image-container {
  background:green;
  position:relative;
  visibility:hidden;
  opacity:0.99;
 /* height: 30rem;
  width: 30rem;
  padding:40px;*/
}

.laptop {visibility: visible !important;
    height:45rem;
    width:36rem;
    
    bottom:-18rem;
    position: absolute;
    background-image: url('./laptop-min.png') ;
    background-size:contain;
    background-repeat:no-repeat;}

.laptop > img {
  visibility: visible !important;
    height:36%;
    z-index:-2;
    width:80%;
    top:2%;
    left:10%;
    position: absolute;  
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
      animation-delay: 6s;
    }
    &:nth-of-type(2) {
      animation-delay: 4s;
    }
    &:nth-of-type(3) {
      animation-delay: 2s;
    }
    &:nth-of-type(4) {
      animation-delay: 0;
    }
  }

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*image transitions ends*/






/*for the jumpoing moon/sun*/

// label {
      
//       animation-name: jump;
//       animation-duration: 5s;
//       animation-iteration-count: infinite;
//       animation-timing-function: linear;
//     }


// @keyframes jump {
//   from, 20%, 53%, 80%, to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     -webkit-transform: translate3d(0,0,0);
//     transform: translate3d(0,0,0);
//   }

//   40%, 43% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -30px, 0);
//     transform: translate3d(0, -30px, 0);
//   }

//   70% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -15px, 0);
//     transform: translate3d(0, -15px, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(0,-4px,0);
//     transform: translate3d(0,-4px,0);
//   }
// }

// .jump {
//   -webkit-animation-name: bounce;
//   animation-name: bounce;
//   -webkit-transform-origin: center bottom;
//   transform-origin: center bottom;
// }


/*jumping moon/sun ends */



/*css for polaroids begins*/

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  color:black;
  font-family: Cursive;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: flex;
   display: -webkit-box;
  position:relative;
  left:1rem;
  margin-top: 2rem;
  filter: grayscale(100%);

}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


/*css for polaroids ends*/




@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}





/*this is for the thing that says to scroll down on main pic*/
.arrow:hover{cursor:pointer;}


#scroller1{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:99;
    visibility:hidden;
    cursor:pointer;

}

#scroller1::before {content:"Click Me!";
text-align:center;
color:$cyan;
bottom:3rem;
position:absolute;
cursor: pointer;
font-family: quando;
right:2.5rem;
font-size:1.1rem;
width:130%;
white-space: nowrap;
}

#scroller2{
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:99;
  cursor:pointer;}

#scroller3{position:absolute;
  left:50%;
    bottom: 43%;
    transform: translate(-50%,-50%);
    z-index:99;
  cursor:pointer;}   

#scroller4{position:absolute;
  left:50%;
    bottom: 35%;
    transform: translate(-50%,-50%);
    z-index:99;
  cursor:pointer;}   

#scroller5{position:absolute;
  left:50%;
    bottom: 13%;
    transform: translate(-50%,-50%);
    z-index:99;
    font-size:5rem;}  

#scroller5:hover {cursor:pointer;}

.arrow span{
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 3px solid $cyan;
    border-right: 3px solid $cyan;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*animate is for the arrow thing that says to scroll down */






/*@media screen and (max-width: 1500px) {
#window {
  background-position:-20rem;
}

input:checked ~ #window {
  background-position:-28rem;
}

}*/


@media screen and (max-width: 1300px) {

  #blurb {display: block;
    float:none;
    bottom:0rem;}

    .item {left:18rem;
        width: 50%;}

  .laptop {visibility: visible !important;
    height:45rem;
    width:32rem;
    bottom:-25rem;}


.description {top:1rem;
  .description {font-size:14px;}
}


#scroller2, #scroller3, #scroller4 {
  bottom: 20rem;
}


#hi1, #hi2 ,h1 { margin:0 1rem;
}

}


/*below is for ipads*/
// @media screen and (max-width: 1100px) {
// #window {
//   background-position:-23rem
// }

// input:checked ~ #window {
//   background-position:-29rem;
// }
// }




@media screen and (max-width: 850px) {

  table {
  display:inline-table;
border-spacing: 50px 0;}

.item {left:12rem;}

#bio {display: block;
overflow-x:hidden;}



.laptop {
    height:22rem;
    width: 22rem;
    left:10%;
    top:-6rem;
}

.description {font-size:14px;}

.laptop > img {
  height:50%;
}


 }



@media screen and (min-width:500px) and (max-width:750px){
   .laptop  {
    left:7rem;
    top:-20rem;
}

// .item {
//   left:3rem;
// }

.description {top:-14rem;}

.column {max-width: 98%;
  min-width:80%;
}
}


@media screen and (max-width: 500px) {


#first {padding-top: 5rem;}

  #about {
top:14rem;
margin-bottom:9rem;}

  .item {
  width: 60%;
  position:relative;
  left:6rem;
}


.column {
  font-size:1.2rem;
  max-width: 98%;
  min-width:80%;
  padding: 10px 5px;
}

.laptop {

    height:20rem;
    width: 26rem;
    left:-1%;
    top:3rem;
}

.laptop > img {
  height:60%;
    width:82%;
    left:9%;
    top:8px;

    }

  label {height:3rem;
  width:3rem;}

  #bio {
    width:100vw;
    padding:10rem 0rem;
    margin:0rem 0rem;
    max-width:100vw;

}

#bio {display: block;
overflow-x:hidden;}

#blurb {
  display: block;
  padding:5rem 1rem;
font-size:1.3rem;
width:90%;
position:relative;
left:1rem;
overflow-x:hidden;
}

table {
padding:0;
margin:0;
border-spacing: 15px 0px;
position:relative;
left:-2rem;
overflow-x:hidden;
}

  td {font-size:3.6vw;}

h2 {font-size:3rem;}


#hi1, #hi2, h1 {
  font-size: 3rem;
  left:5rem;
  top:4rem;
}

// #window {
//   background-position:-400px;
// }

// input:checked ~ #window {
//   background-position:-480px;
//  }

// shouldn't need these anymore if I'm just using the smaller narrower image


.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid $cyan;
    border-right: 3px solid $cyan;
}


#myprojects {color:$cyan;
font-size:30px;}
.projectname {margin-bottom:0rem;
              font-size:23px;}


.cabins {margin-top:8rem;
  margin-bottom:-16rem;}


#scroller1, #scroller2,  {
  bottom:5%;
}

#scroller3, #scroller4 {
  bottom:-2%;
  }

#scroller5 {top:160px;
  left:12.5rem;
  display: block;
  padding:5px;
  margin:5%;
  position:relative;

  
  
}


}









@media screen and (max-width:400px){
  .laptop {

    height:20rem;
    width: 24rem;
    left:-1%;
    top:3rem;
}


  @keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 7.5em;
  }
}
}


// -webkit-transform: translateZ(0);
// -moz-transform: translateZ(0);
// -ms-transform: translateZ(0);
// -o-transform: translateZ(0);
// transform: translateZ(0);

/*this is supposed to emnable hardware acceleratino for faster background transitions, put on background/bg image element*/




















@media screen and (min-width: 1300px) {

  .window::before, .window::after {
      animation: bgmove 7s infinite ease-in-out alternate-reverse; 
       background-size:105%;
       background-repeat:no-repeat;
     }
}



/*with these, we should assume that the user is using a phone, so above in the main part, put in the smaller image, then in the media queries, put in
in the bigger images if a screen is larger*/
@media screen and (min-width: 500px) {

.window::before {
 
  background-image:url('./daypic.jpg');
 

}

/*dark  */
.window::after {
    /*need to change all these on mobile. smaller bg image, and animation only happens on big screens */
  background-image:url('./nightpic.jpg');
}


}


























